.navbar {
    background-color: #004d99;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin-left: -2rem;
  }

  .navbar h1{
    font-size: 1.7rem;
  }
  
.logo{
  margin: 20px;
  height: 5rem;
  width: 7rem;
}

  .logo img {
    height: 100%;
    width: 100%;
  }
  
  .head {
    margin: 0;
    font-size: 2em;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
  }
  
  .nav-list li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: 400;
    display: block;
    transition: background-color 0.3s;
    width: 6rem;
  }

  .nav-list li{
    position:relative;
  }

  .nav-list li a:hover {
    background-color: #003366;
    border-radius: 5px;
}
  
  .auth-buttons {
    display: flex;
    gap: 10px;
  }
  
  .auth-buttons .button {
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-left: 10px;
    text-decoration: none;
  }

  .auth-buttons .button:hover{
    background-color: #003366;
  }
  